---
// Podcast-Focused Homepage
// Structure:
// 1. Hero (full screen video, aspiration + intrigue)
// 2. Credibility Strip (quick trust stats)
// 3. Who This Is For (self-selection)
// 4. Process Overview (relief - how simple it is)
// 5. Testimonial (transformation - social proof)
// 6. Studio CTA (tangible experience - modal)
// 7. Investment + Contact (convert)

import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import HeroCinematic from '../components/HeroCinematic.astro'
import CredibilityStrip from '../components/CredibilityStrip.astro'
import WhoThisIsFor from '../components/WhoThisIsFor.astro'
import ProcessOverview from '../components/ProcessOverview.astro'
import Testimonial from '../components/Testimonial.astro'
import StudioCTA from '../components/StudioCTA.astro'
import InvestmentContact from '../components/InvestmentContact.astro'
import Footer from '../components/Footer.astro'
---

<Layout>
  <Header />
  <main>
    <HeroCinematic />
    <CredibilityStrip />
    <WhoThisIsFor />
    <ProcessOverview />
    <Testimonial />
    <StudioCTA />
    <InvestmentContact />
  </main>
  <Footer />
</Layout>
